# app-pvc.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: app-pvc
  namespace: etudiant23-ns # VOTRE NAMESPACE UNIQUE
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi